{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>

<div class="main-header">
  <div class="text-center">
    <h3>Duolca App Documentation</h3>
    <p>Duolca is NokiaEDU's portal to allow instructors to launch cloud VMs in Microsoft Azure. Find resources and documentation to help you run and build Duolca here.</p>  
  </div>
</div>
 

<div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Product Information</h4>
        <p></p>
      </div>

      <div class="col-md-4"><h4>For Instructors</h4>
      
      </div>
      <div class="col-md-4"><h4>For Developers</h4></div>        
    </div>
  </div>
  
{% endblock %}
