{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>

<div class="main-header">
  <div class="text-center">
    <h3>Duolca App Documentation</h3>
    <p>Duolca is NokiaEDU's portal to allow instructors to launch cloud VMs in Microsoft Azure. Find resources and documentation to help you run and build Duolca here.</p>  
  </div>
</div>
 

<div class="container">
    <div class="row">

      <div class="col-md-4">
        <h4>What is Duolca?</h4>
        <p>Designed for instructors in NokiaEDU, Duolca is a portal to the Microsoft Azure Cloud Services Platform. It allows instructors to easily deploy their VMs.</p>
        <h4>Resources</h3>
      </div>

      <div class="col-md-8">
        <h4>For Instructors</h4>
        
      </div>
    </div>
  </div>
  
{% endblock %}
