<!-- #####################################################################################################################
# DUOLCA 1.0.0  
# AUTH.html
#
# NOT IN USE! This is testing template that could be used if a developer wants to check that access_token and credentials are being passed in
#
# Duolca 1.0.0 \\ August 17th, 2018 \\ Areena Akhter
##################################################################################################################### -->

{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>Hi {{ username }}, {{ message }}</h3>

<p>Let's just see if this works....</p>
<p>Your access token is: {{ access_token }}</p>
<p>Your credentials are: {{ credentials }}</p>

{% endblock %}
