{% extends "layout.html" %}

{% block content %}

<div class="text-center">
        <h1>Contact Us</h3>
        <p>Duolca is internal to NokiaEDU, so questions and concerns should go there.</p>  
      </div>

<!-- <address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address> -->

{% endblock %}
