<!-- #####################################################################################################################
# DUOLCA 1.0.0  
# Contact.html
#
# The Jinja template for the CONTACT page for Duolca - NOTE: this page should be expanded on when NokiaEDU decides on ownership
#
# Duolca 1.0.0 \\ August 17th, 2018 \\ Areena Akhter
##################################################################################################################### -->

{% extends "layout.html" %}

{% block content %}
<!-- Header with Title and Subtitle -->
<div class="text-center">
        <h1>Contact Us</h3>
        <p>Duolca is internal to NokiaEDU, so questions and concerns should go there.</p>  
      </div>

{% endblock %}
