{% extends "layout.html" %}

{% block content %}

<h3>Welcome, {{ username }}!</h3>

<div class="main-container">
    <div class="create-vm-form">
        <form method='POST'>
            <div class="form-group">
              <label for="course_name">Course Name</label>
              <input type="text" class="form-control" id="course_name" name="course_name" placeholder="Enter name of your course">
            </div>

            <div class="form-group">
              <label for="deploy_name">Deployment Name</label>
              <input type="text" class="form-control" id="deploy_name" name="deploy_name" placeholder="Enter unique deployment name">
            </div>

            <div class="form-group">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="resource_group" id="resource_group">Resource Groups</label>
                </div>
                <select class="custom-select" id="resource_group" name=resource_group>
                  <option selected>Choose...</option>
                  <option value="edulab-dev-005" name=resource_group>edulab-dev-005</option>
                </select>
              </div>

            <div class="form-group">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="location">Locations</label>
                </div>
                <select class="custom-select" id="location" name=location>
                  <option selected>Choose...</option>
                  <option value="East US" name=location>East US</option>
                </select>
            </div>  

            <input type="submit" value="Deploy Lab">
            <!-- <a href="{{ url_for('manage') }}" type="submit" class="btn btn-primary">Submit</a> -->
            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
          </form>
    </div>  
</div>
{% endblock %}
