<!-- #####################################################################################################################
# DUOLCA 1.0.0  
# Index.html
#
# The Jinja template for the HOME (INDEX) page for Duolca - contains the form that the user will enter information into
#
# Duolca 1.0.0 \\ August 17th, 2018 \\ Areena Akhter
##################################################################################################################### -->

{% extends "layout.html" %}

{% block content %}
<div class="main-header">
    <div class="text-center">
        <h1>Welcome to Duolca.</h1>
        <p class="lead">Please enter your course info and decide whether to deploy or manage.</p>
    </div>
</div>

<div class="main-container">
    <div class="create-vm-form">
        <form method='POST' action="{{ url_for('DeploySubmit') }}">
            <div class="form-group">
              <label for="course_name">Course Name</label>
              <input type="text" class="form-control" id="course_name" name="course_name" placeholder="Enter name of your course">
            </div>

            <div class="form-group">
              <label for="deploy_name">Deployment Name</label>
              <input type="text" class="form-control" id="deploy_name" name="deploy_name" placeholder="Enter unique deployment name">
            </div>

            <div class="form-group">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="resource_group" id="resource_group">Resource Groups</label>
                </div>
                <select class="custom-select" id="resource_group" name=resource_group>
                  <option selected>Choose...</option>
                  <option value="edulab-dev-005" name=resource_group>edulab-dev-005</option>
                </select>
              </div>

            <div class="form-group">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="location">Locations</label>
                </div>
                <select class="custom-select" id="location" name=location>
                  <option selected>Choose...</option>
                  <option value="East US" name=location>East US</option>
                </select>
            </div>  

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deployedModal">Confirm Details</button>
            <button type="submit" class="btn btn-primary">Deploy vLab</button>
            <button type="submit" formaction="{{ url_for('ManageSubmit') }}" class="btn btn-primary">Manage vLab</button>
          </form>
    </div>  

    <!-- The modal popup that should appear as a warning -->
    <div class="modal fade" id="deployedModal" tabindex="-1" role="dialog" aria-labelledby="deployedModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Your Lab is Being Deployed.</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

        <div class="modal-body">
        This is a popup to inform you that your course is being deployed. After clicking "Deploy VLab", the full deployment should take about 5-10 mins to complete. If your course was already deployed, a management screen will appear. 
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

</div>
</div>
{% endblock %}
