{% extends "layout.html" %}

{% block content %}
<div class="main-header">
    <div class="text-center">
        <h1>Your Virtual Lab Information</h1>
        <p class="lead">Here's the information on your virtual lab.</p>
    </div>
</div>

<div class="main-grid">
    <div class="row primary-row">
        <div class="col-sm-12">
            <div class="text-center"><p>Your Public IP Address is {{ ip_data }}</p></div>
        </div>
    </div>

    <div class="row content-row">
        <div class="col-sm-3 text-center">Your course is {{ course_name }}</div>
        <div class="col-sm-3 text-center">Your resource group is {{ resource_group }}</div>
        <div class="col-sm-3 text-center">Your location is {{ location }}</div>
        <div class="col-sm-3 text-center">Your deploy state is {{ deploy_state }}</div>
    </div>
</div>

<h3><b>User Data</h3>
<p>Your course is {{ course_name }}</p>
<p>Your resource group is {{ resource_group }}</p>
<p>Your location is {{ location }}</p>
<p>Your deploy state is {{ deploy_state }}</p>
<p>Have your resources been deleted? {{ resources_delete_state }}</p>

{% endblock %}
