<!-- #####################################################################################################################
# DUOLCA 1.0.0  
# Profile.html
#
# The Jinja template for the PROFILE page for Duolca
#
# Duolca 1.0.0 \\ August 17th, 2018 \\ Areena Akhter
##################################################################################################################### -->

{% extends "layout.html" %}

{% block content %}
<!-- Header with Title and Subtitle -->
<div class="text-center">
        <h1><b>User Profile</h3>
        <p class="lead">Hi {{ username }}, here's your profile.</p>  

        <table>
                {% for key, value in graph_data.items() %}
                    <tr>
                        <th> {{ key }} </th>
                        <td> {{ value }} </td>
                   </tr> 
                {% endfor %}
        </table>
</div>

{% endblock %}
